body {
  background-color: white;
}

h1 {
  color: #black;
  text-align: center;
}

p {
  color: #black;
  margin: 20px;
}

.centered-text {
  text-align: center;
}

nav {
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  display: inline-block;
  margin: 0 120px;
  }

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111;
}

a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

